/* blatantly copied from http://bettermotherfuckingwebsite.com/ */
body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px
}

h1,h2,h3{
    line-height: 1.2
}


/* style override for header and footer */
.header h1{
    color:#000;
    text-align:center;
}

.header .navbar{
    font-size:24px;
    display:flex;
    justify-content:center;
}

.header .navbar div{
    margin:0px 75px;
}

.header .navbar a{
    font-weight:bold;
}

.header .navbar a:link{
    text-decoration:none;
    color:#444;
}

.header .navbar a:visited{
    text-decoration:none;
    color:#444;
}

.header .navbar a:hover{
    text-decoration:underline;
    color:#444;
}

.header .navbar a:active{
    text-decoration:none;
    color:#444;
}

.license a img {
    display:block;
    margin:0 auto;
}

.license{
    text-align:center;
    font-size:x-small;
}

.article{
    margin: 40px auto;
}

.article ul{
    padding: 0px;
}

.article li{
    list-style-position: outside;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.article-list li:hover{
    background-color: #eee;
}

.article-main{
    flex-grow: 1;
    flex-shrink: 1;
}

.article-aux{
    flex-shrink: 0;
    margin-left: auto;
}

.article-item{
	text-decoration: none;
	display: flex;
	align-content: center;
	padding: 8px 2px;
	position: relative;
    font-size: 18px;
}

a.article-item:link{
    color: #444;
}
a.article-item:visited{
    color: #444;
}
a.article-item:hover{
    color: #444;
}
a.article-item:active{
    color: #444;
}